body {
    background-color: #ececec !important;
}

#container {
    width: 100%;
    overflow: auto;
    margin-top: 18px;
    padding-top: 5px;
    height: calc(100vh - 65px);
}

.docx-wrapper {
    padding: 0 !important;
    background-color: #ececec !important;
}