body {
    background-color: #fbfbfb;
    color: #3e3838;
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    top: 50px;
    position: absolute;
    overflow: scroll;
    height: calc(100vh - 50px);
}

#pagination-wrapper {
    position: fixed;
    padding: 10px;
    right: 60px;
}

.paginationjs .paginationjs-pages {
    max-width: 600px;
}

.docx-wrapper {
    padding: 0 !important;
    padding-top: 10px !important;
    background-color: #ececec !important;
}