@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.vditor {
  display: flex;
  flex-direction: column;
  border: var(--vditor-chrome-border, 1px solid var(--border-color));
  border-radius: 3px;
  box-sizing: border-box;
  font-family: @font-family-base;
  background-color: var(--vditor-root-background, transparent);

  .vditor-copy {
    z-index: auto;
  }

  &-content {
    display: flex;
    min-height: 60px;
    flex: 1;
    min-width: 1px;
    position: relative;
  }

  &-counter {
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px;
    color: var(--toolbar-icon-color);
    background-color: var(--count-background-color);
    border-radius: 3px;
    font-size: 12px;
    user-select: none;
    margin: 0;

    &--error {
      color: @errorColor;
      background-color: rgba(@errorColor, 0.1);
    }
  }

  &-upload {
    position: absolute;
    height: 3px;
    left: 0;
    top: -2px;
    transition: @transition;
    background-color: @blurColor;
  }

  &-tip {
    position: absolute;
    font-size: 12px;
    top: 10px;
    animation-duration: 0.15s;
    animation-fill-mode: both;
    left: 50%;
    z-index: 5;

    &--show {
      display: block;
      animation-name: slideInDown;
    }

    &__content {
      text-align: left;
      display: inline-block;
      line-height: 16px;
      padding: 3px 10px;
      border-radius: 3px;
      background: var(--toolbar-background-color);
      position: relative;
      margin-left: -50%;
      color: var(--toolbar-icon-color);
      max-width: 100%;
      box-shadow: var(--panel-shadow);

      ul {
        margin: 2px 0;
        padding: 0 0 0 18px;
      }

      a {
        color: @blurColor;
      }
    }

    &__close {
      position: absolute;
      color: var(--toolbar-icon-color);
      top: -7px;
      right: -15px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: var(--toolbar-icon-hover-color);
      }
    }
  }

  &-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;

    &__bar {
      border-bottom: 1px solid var(--border-color);
      background-color: var(--toolbar-background-color);
      text-align: center;
      height: 36px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: 24px;
      user-select: none;
      color: var(--toolbar-icon-color);

      &:hover {
        color: var(--toolbar-icon-hover-color);
      }

      svg {
        height: 14px;
        width: 14px;
        margin-right: 8px;
        fill: currentColor;
      }

      .codicon {
        font-size: 14px;
        margin-right: 8px;
      }
    }

    &__img {
      flex: 1;
      background-color: var(--textarea-background-color);
      overflow: auto;
      cursor: zoom-out;

      img {
        max-width: none;
      }
    }
  }
}
