.vditor {
  &-toolbar {
    background-color: var(--toolbar-background-color);
    border-bottom: var(--vditor-toolbar-border-bottom, 1px solid var(--border-color));
    padding: 0 5px;
    line-height: 1;
    flex-wrap: wrap;

    &--pin {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    &--hide {
      transition: @transition;
      height: 5px;
      overflow: hidden;

      &:hover {
        background-color: var(--toolbar-background-color);
        height: auto;
        overflow: visible;
      }
    }

    &__item {
      float: left;
      position: relative;

      .vditor-tooltipped {
        color: var(--toolbar-icon-color);
        border: 0;
        padding: 10px 5px;
        background-color: transparent;
        height: var(--toolbar-height);
        width: 25px;
        box-sizing: border-box;
        font-size: 0;

        &:focus {
          outline: none;
        }

        &:focus {
          cursor: pointer;
          color: var(--toolbar-icon-hover-color);
        }
      }

      svg {
        fill: currentColor;
        display: inline-block;
        stroke-width: 0;
        stroke: currentColor;
        width: 15px;
        height: 15px;
      }

      .codicon {
        font-size: 16px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }

      .vditor-codicon-undo {
        transform: scaleX(-1);
      }

      .vditor-codicon-outdent {
        transform: scaleX(-1);
      }

      input {
        position: absolute;
        width: 25px;
        height: var(--toolbar-height);
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: .001;
        overflow: hidden;
      }
    }

    &__divider {
      float: left;
      height: calc(var(--toolbar-height) - (var(--toolbar-divider-margin-top) * 2));
      border-left: 1px solid var(--second-color);
      margin: var(--toolbar-divider-margin-top) 8px;
    }

    &__br {
      width: 100%;
      padding: 0 !important;
      height: 0 !important;
    }
  }

  &-menu {
    &--current {
      color: var(--toolbar-icon-hover-color) !important;
    }

    &--disabled {
      color: var(--second-color) !important;
      cursor: not-allowed !important;
    }
  }
}

.vditor-toolbar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

// @media screen and (max-width: @max-width) {
//   .vditor-toolbar__item {
//     padding: 0 12px;
//   }
//   .vditor-panel--left.vditor-panel--arrow:before {
//     right: 17px;
//   }
// }

@media(hover: hover) and (pointer: fine) {
  .vditor-toolbar__item .vditor-tooltipped:hover {
    color: var(--toolbar-icon-hover-color);
  }

  .vditor-toolbar__item .vditor-tooltipped[data-type="outline"]:not(.vditor-menu--current):hover {
    color: var(--toolbar-icon-color);
  }
}

.vditor-toolbar__item .vditor-tooltipped[data-type="outline"].vditor-menu--current {
  color: var(--list-hover-color, var(--toolbar-icon-hover-color)) !important;
}