.vscode/**
.vscode-test/**
out/test/**
src/**
packages/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/
vditor/
build.js
public/
lib.js
backlog.md