:root {
    --hr-bg: #d1d5db;
    --ext-border-color: #cbd5e1;
    --bg-color: #e2e8f0;
    --front-color: #1f2937;
    --second-bg-color: #dde4ed;
    --code-bg-color: #d8e0ea;
    --list-hover-color: #3b82f6;
    --dropdown-hover-background: #d1d5db;
    --error-color: #dc2626;
} 