:root {
    --hr-bg: #4c566a;
    --ext-border-color: #3b4252;
    --bg-color: #2e3440;
    --front-color: #d8dee9;
    --second-bg-color: #3b4252;
    --code-bg-color: #434c5e;
    --list-hover-color: #88c0d0;
    --dropdown-hover-background: #434c5e;
    --error-color: #bf616a;
} 