:root {
    --hr-bg: #e7e5e4;
    --ext-border-color: #e5ddd5;
    --bg-color: #faf7f5;
    --front-color: #44403c;
    --second-bg-color: #f5f2f0;
    --code-bg-color: #efecea;
    --list-hover-color: #f97316;
    --dropdown-hover-background: #e7e5e4;
    --error-color: #ef4444;
} 