*{
  font-family: "manrope3","Consolas ligaturized", "Segoe UI","Microsoft YaHei",-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px;
}

.vscode-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  
  line-height: 1.5;
  word-wrap: break-word;
}

a{
  color: #4183c4 !important;
  font-weight: unset !important;
}

body { background: white; } .vscode-body { box-sizing: border-box; min-width: 200px; max-width: 980px; margin: 0 auto; padding: 40px; border: 1px solid transparent; } .vscode-body blockquote { background-color: initial; } .vscode-body pre { color: initial; background: #f7f7f7 !important; } .vscode-body code { color: inherit; } .vscode-body pre code { color: initial; } .vscode-body code > div { background: none } .vscode-body table th, .vscode-body table td { border: 1px solid #ddd !important; } .vscode-body.showEditorSelection .code-active-line:before { border-left: 3px solid rgba(0, 0, 0, 0.15); } .vscode-body.showEditorSelection .code-line:hover:before { border-left: 3px solid rgba(0, 0, 0, 0.40); } .vscode-body.showEditorSelection .code-line .code-line:hover:before { border-left: none; } .vscode-body p, .vscode-body blockquote, .vscode-body ul, .vscode-body ol, .vscode-body dl, .vscode-body table, .vscode-body pre { margin-top: 16px; margin-bottom: 16px; } body.vscode-body::-webkit-scrollbar { background-color: white; } body.vscode-body::-webkit-scrollbar-thumb { background-color: rgba(100, 100, 100, 0.4); } body.vscode-body::-webkit-scrollbar-thumb:hover { background-color: rgba(100, 100, 100, 0.7); }
/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */ .hljs { display: block; overflow-x: auto; padding: 0.5em; color: #333; background: #f8f8f8; } .hljs-comment, .hljs-quote { color: #998; font-style: italic; } .hljs-keyword, .hljs-selector-tag, .hljs-subst { color: #333; font-weight: bold; } .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr { color: #008080; } .hljs-string, .hljs-doctag { color: #d14; } .hljs-title, .hljs-section, .hljs-selector-id { color: #900; font-weight: bold; } .hljs-subst { font-weight: normal; } .hljs-type, .hljs-class .hljs-title { color: #458; font-weight: bold; } .hljs-tag, .hljs-name, .hljs-attribute { color: #000080; font-weight: normal; } .hljs-regexp, .hljs-link { color: #009926; } .hljs-symbol, .hljs-bullet { color: #990073; } .hljs-built_in, .hljs-builtin-name { color: #0086b3; } .hljs-meta { color: #999; font-weight: bold; } .hljs-deletion { background: #fdd; } .hljs-addition { background: #dfd; } .hljs-emphasis { font-style: italic; } .hljs-strong { font-weight: bold; }

.vscode-body .pl-c {
  color: #6a737d;
}

.vscode-body .pl-c1,
.vscode-body .pl-s .pl-v {
  color: #005cc5;
}

.vscode-body .pl-e,
.vscode-body .pl-en {
  color: #6f42c1;
}

.vscode-body .pl-smi,
.vscode-body .pl-s .pl-s1 {
  color: #24292e;
}

.vscode-body .pl-ent {
  color: #22863a;
}

.vscode-body .pl-k {
  color: #d73a49;
}

.vscode-body .pl-s,
.vscode-body .pl-pds,
.vscode-body .pl-s .pl-pse .pl-s1,
.vscode-body .pl-sr,
.vscode-body .pl-sr .pl-cce,
.vscode-body .pl-sr .pl-sre,
.vscode-body .pl-sr .pl-sra {
  color: #032f62;
}

.vscode-body .pl-v,
.vscode-body .pl-smw {
  color: #e36209;
}

.vscode-body .pl-bu {
  color: #b31d28;
}

.vscode-body .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.vscode-body .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.vscode-body .pl-c2::before {
  content: "^M";
}

.vscode-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.vscode-body .pl-ml {
  color: #735c0f;
}

.vscode-body .pl-mh,
.vscode-body .pl-mh .pl-en,
.vscode-body .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.vscode-body .pl-mi {
  font-style: italic;
  color: #24292e;
}

.vscode-body .pl-mb {
  font-weight: bold;
  color: #24292e;
}

.vscode-body .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.vscode-body .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.vscode-body .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.vscode-body .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.vscode-body .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.vscode-body .pl-ba {
  color: #586069;
}

.vscode-body .pl-sg {
  color: #959da5;
}

.vscode-body .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.vscode-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.vscode-body a {
  background-color: transparent;
}

.vscode-body a:active,
.vscode-body a:hover {
  outline-width: 0;
}

.vscode-body strong {
  font-weight: inherit;
}

.vscode-body strong {
  font-weight: bolder;
}

.vscode-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.vscode-body img {
  border-style: none;
}

.vscode-body code,
.vscode-body kbd,
.vscode-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.vscode-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.vscode-body input {
  font: inherit;
  margin: 0;
}

.vscode-body input {
  overflow: visible;
}

.vscode-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.vscode-body * {
  box-sizing: border-box;
}

.vscode-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.vscode-body a {
  color: #0366d6;
  text-decoration: none;
}

.vscode-body a:hover {
  text-decoration: underline;
}

.vscode-body strong {
  font-weight: 600;
}

.vscode-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.vscode-body hr::before {
  display: table;
  content: "";
}

.vscode-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.vscode-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.vscode-body td,
.vscode-body th {
  padding: 0;
}

.vscode-body h1,
.vscode-body h2,
.vscode-body h3,
.vscode-body h4,
.vscode-body h5,
.vscode-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.vscode-body h1 {
  font-size: 32px;
  font-weight: 600;
}

.vscode-body h2 {
  font-size: 24px;
  font-weight: 600;
}

.vscode-body h3 {
  font-size: 20px;
  font-weight: 600;
}

.vscode-body h4 {
  font-size: 16px;
  font-weight: 600;
}

.vscode-body h5 {
  font-size: 14px;
  font-weight: 600;
}

.vscode-body h6 {
  font-size: 12px;
  font-weight: 600;
}

.vscode-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.vscode-body blockquote {
  margin: 0;
}

.vscode-body ul,
.vscode-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.vscode-body ol ol,
.vscode-body ul ol {
  list-style-type: lower-roman;
}

.vscode-body ul ul ol,
.vscode-body ul ol ol,
.vscode-body ol ul ol,
.vscode-body ol ol ol {
  list-style-type: lower-alpha;
}

.vscode-body dd {
  margin-left: 0;
}

.vscode-body code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.vscode-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.vscode-body .octicon {
  vertical-align: text-bottom;
}

.vscode-body .pl-0 {
  padding-left: 0 !important;
}

.vscode-body .pl-1 {
  padding-left: 4px !important;
}

.vscode-body .pl-2 {
  padding-left: 8px !important;
}

.vscode-body .pl-3 {
  padding-left: 16px !important;
}

.vscode-body .pl-4 {
  padding-left: 24px !important;
}

.vscode-body .pl-5 {
  padding-left: 32px !important;
}

.vscode-body .pl-6 {
  padding-left: 40px !important;
}

.vscode-body::before {
  display: table;
  content: "";
}

.vscode-body::after {
  display: table;
  clear: both;
  content: "";
}

.vscode-body>*:first-child {
  margin-top: 0 !important;
}

.vscode-body>*:last-child {
  margin-bottom: 0 !important;
}

.vscode-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.vscode-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.vscode-body .anchor:focus {
  outline: none;
}

.vscode-body p,
.vscode-body blockquote,
.vscode-body ul,
.vscode-body ol,
.vscode-body dl,
.vscode-body table,
.vscode-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.vscode-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.vscode-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.vscode-body blockquote>:first-child {
  margin-top: 0;
}

.vscode-body blockquote>:last-child {
  margin-bottom: 0;
}

.vscode-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.vscode-body h1,
.vscode-body h2,
.vscode-body h3,
.vscode-body h4,
.vscode-body h5,
.vscode-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.vscode-body h1 .octicon-link,
.vscode-body h2 .octicon-link,
.vscode-body h3 .octicon-link,
.vscode-body h4 .octicon-link,
.vscode-body h5 .octicon-link,
.vscode-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.vscode-body h1:hover .anchor,
.vscode-body h2:hover .anchor,
.vscode-body h3:hover .anchor,
.vscode-body h4:hover .anchor,
.vscode-body h5:hover .anchor,
.vscode-body h6:hover .anchor {
  text-decoration: none;
}

.vscode-body h1:hover .anchor .octicon-link,
.vscode-body h2:hover .anchor .octicon-link,
.vscode-body h3:hover .anchor .octicon-link,
.vscode-body h4:hover .anchor .octicon-link,
.vscode-body h5:hover .anchor .octicon-link,
.vscode-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.vscode-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.vscode-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.vscode-body h3 {
  font-size: 1.25em;
}

.vscode-body h4 {
  font-size: 1em;
}

.vscode-body h5 {
  font-size: 0.875em;
}

.vscode-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.vscode-body ul,
.vscode-body ol {
  padding-left: 2em;
}

.vscode-body ul ul,
.vscode-body ul ol,
.vscode-body ol ol,
.vscode-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.vscode-body li {
  word-wrap: break-all;
}

.vscode-body li>p {
  margin-top: 16px;
}

.vscode-body li+li {
  margin-top: 0.25em;
}

.vscode-body dl {
  padding: 0;
}

.vscode-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.vscode-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.vscode-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.vscode-body table th {
  font-weight: 600;
}

.vscode-body table th,
.vscode-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.vscode-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.vscode-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.vscode-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.vscode-body img[align=right] {
  padding-left: 20px;
}

.vscode-body img[align=left] {
  padding-right: 20px;
}

.vscode-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.vscode-body pre {
  word-wrap: normal;
}

.vscode-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.vscode-body .highlight {
  margin-bottom: 16px;
}

.vscode-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.vscode-body .highlight pre,
.vscode-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.vscode-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.vscode-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.vscode-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.vscode-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.vscode-body .task-list-item {
  list-style-type: none;
}

.vscode-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.vscode-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.vscode-body hr {
  border-bottom-color: #eee;
}
