:root{
    --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
    --vscode-font-weight: normal;
    --vscode-font-size: 13px;
    --vscode-editor-font-family: "Consolas ligaturized",Consolas, "微软雅黑","Courier New", monospace;
    --vscode-editor-font-weight: normal;
    --vscode-editor-font-size: 14px;
    --vscode-foreground: #cccccc;
    --vscode-errorForeground: #f48771;
    --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
    --vscode-icon-foreground: #c5c5c5;
    --vscode-focusBorder: #232933;
    --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --vscode-textLink-foreground: #3794ff;
    --vscode-textLink-activeForeground: #3794ff;
    --vscode-textPreformat-foreground: #d7ba7d;
    --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-input-background: #232933;
    --vscode-input-foreground: #cccccc;
    --vscode-inputOption-activeBorder: rgba(0, 122, 204, 0);
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: rgba(35, 41, 51, 0.4);
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-input-placeholderForeground: #bbbbbb;
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-dropdown-background: #2c323c;
    --vscode-dropdown-foreground: #f0f0f0;
    --vscode-dropdown-border: #2c323c;
    --vscode-checkbox-background: #2c323c;
    --vscode-checkbox-foreground: #f0f0f0;
    --vscode-checkbox-border: #2c323c;
    --vscode-button-foreground: #ffffff;
    --vscode-button-background: #404754;
    --vscode-button-hoverBackground: #4d5565;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryBackground: #3a3d41;
    --vscode-button-secondaryHoverBackground: #45494e;
    --vscode-badge-background: #282c34;
    --vscode-badge-foreground: #ffffff;
    --vscode-scrollbar-shadow: #000000;
    --vscode-scrollbarSlider-background: #535a69;
    --vscode-scrollbarSlider-hoverBackground: #535a69;
    --vscode-scrollbarSlider-activeBackground: #535a69;
    --vscode-progressBar-background: #0e70c0;
    --vscode-editorError-foreground: #c24038;
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-sash-hoverBorder: #232933;
    --vscode-editor-background: #303845;
    --vscode-editor-foreground: #bbbbbb;
    --vscode-editorWidget-background: #232933;
    --vscode-editorWidget-foreground: #cccccc;
    --vscode-editorWidget-border: #454545;
    --vscode-quickInput-background: #303845;
    --vscode-quickInput-foreground: #cccccc;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-pickerGroup-foreground: #3794ff;
    --vscode-pickerGroup-border: #3f3f46;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-editor-selectionBackground: rgba(103, 118, 150, 0.38);
    --vscode-editor-inactiveSelectionBackground: rgba(103, 118, 150, 0.19);
    --vscode-editor-selectionHighlightBackground: rgba(255, 255, 255, 0.06);
    --vscode-editor-selectionHighlightBorder: #dddddd;
    --vscode-editor-findMatchBackground: #42557b;
    --vscode-editor-findMatchHighlightBackground: #314365;
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-editor-findMatchBorder: #457dff;
    --vscode-searchEditor-findMatchBackground: rgba(49, 67, 101, 0.66);
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editorHoverWidget-background: #232933;
    --vscode-editorHoverWidget-foreground: #cccccc;
    --vscode-editorHoverWidget-border: #181a1f;
    --vscode-editorHoverWidget-statusBarBackground: #2a313d;
    --vscode-editorLink-activeForeground: #4e94ce;
    --vscode-editorInlayHint-foreground: rgba(255, 255, 255, 0.8);
    --vscode-editorInlayHint-background: rgba(40, 44, 52, 0.6);
    --vscode-editorInlayHint-typeForeground: rgba(255, 255, 255, 0.8);
    --vscode-editorInlayHint-typeBackground: rgba(40, 44, 52, 0.6);
    --vscode-editorInlayHint-parameterForeground: rgba(255, 255, 255, 0.8);
    --vscode-editorInlayHint-parameterBackground: rgba(40, 44, 52, 0.6);
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-diffEditor-insertedTextBackground: rgba(0, 128, 155, 0.2);
    --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-list-focusBackground: #383e4a;
    --vscode-list-focusOutline: #232933;
    --vscode-list-activeSelectionBackground: #292d35;
    --vscode-list-activeSelectionForeground: #d7dae0;
    --vscode-list-inactiveSelectionBackground: #292d35;
    --vscode-list-inactiveSelectionForeground: #d7dae0;
    --vscode-list-hoverBackground: #292d35;
    --vscode-list-dropBackground: #062f4a;
    --vscode-list-highlightForeground: #c5c5c5;
    --vscode-list-focusHighlightForeground: #c5c5c5;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #653723;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-list-filterMatchBackground: #314365;
    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-quickInputList-focusForeground: #d7dae0;
    --vscode-quickInputList-focusBackground: #292d35;
    --vscode-menu-foreground: #cccccc;
    --vscode-menu-background: #2d3440;
    --vscode-menu-selectionForeground: #d7dae0;
    --vscode-menu-selectionBackground: #292d35;
    --vscode-menu-separatorBackground: #bbbbbb;
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
    --vscode-breadcrumb-background: #303845;
    --vscode-breadcrumb-focusForeground: #e0e0e0;
    --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
    --vscode-breadcrumbPicker-background: #232933;
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-selectionHighlight: #264f78;
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-warningHighlight: #cca700;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(83, 90, 105, 0.5);
    --vscode-minimapSlider-hoverBackground: rgba(83, 90, 105, 0.5);
    --vscode-minimapSlider-activeBackground: rgba(83, 90, 105, 0.5);
    --vscode-problemsErrorIcon-foreground: #c24038;
    --vscode-problemsWarningIcon-foreground: #cca700;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-charts-foreground: #cccccc;
    --vscode-charts-lines: rgba(204, 204, 204, 0.5);
    --vscode-charts-red: #c24038;
    --vscode-charts-blue: #3794ff;
    --vscode-charts-yellow: #cca700;
    --vscode-charts-orange: #d18616;
    --vscode-charts-green: #89d185;
    --vscode-charts-purple: #b180d7;
    --vscode-editor-lineHighlightBackground: #2c323c;
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-symbolHighlightBackground: #314365;
    --vscode-editorCursor-foreground: #528bff;
    --vscode-editorCursor-background: rgba(255, 255, 255, 0.79);
    --vscode-editorWhitespace-foreground: #303845;
    --vscode-editorIndentGuide-background: #303845;
    --vscode-editorIndentGuide-activeBackground: #909039;
    --vscode-editorLineNumber-foreground: #495162;
    --vscode-editorActiveLineNumber-foreground: #737984;
    --vscode-editorLineNumber-activeForeground: #737984;
    --vscode-editorRuler-foreground: rgba(171, 178, 191, 0.15);
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorBracketMatch-background: #515a6b;
    --vscode-editorBracketMatch-border: #515a6b;
    --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --vscode-editorGutter-background: #303845;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-warningForeground: #cca700;
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #bd9b03;
    --vscode-symbolIcon-arrayForeground: #cccccc;
    --vscode-symbolIcon-booleanForeground: #cccccc;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #cccccc;
    --vscode-symbolIcon-constantForeground: #cccccc;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #cccccc;
    --vscode-symbolIcon-folderForeground: #cccccc;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #cccccc;
    --vscode-symbolIcon-keywordForeground: #cccccc;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #cccccc;
    --vscode-symbolIcon-namespaceForeground: #cccccc;
    --vscode-symbolIcon-nullForeground: #cccccc;
    --vscode-symbolIcon-numberForeground: #cccccc;
    --vscode-symbolIcon-objectForeground: #cccccc;
    --vscode-symbolIcon-operatorForeground: #cccccc;
    --vscode-symbolIcon-packageForeground: #cccccc;
    --vscode-symbolIcon-propertyForeground: #cccccc;
    --vscode-symbolIcon-referenceForeground: #cccccc;
    --vscode-symbolIcon-snippetForeground: #cccccc;
    --vscode-symbolIcon-stringForeground: #cccccc;
    --vscode-symbolIcon-structForeground: #cccccc;
    --vscode-symbolIcon-textForeground: #cccccc;
    --vscode-symbolIcon-typeParameterForeground: #cccccc;
    --vscode-symbolIcon-unitForeground: #cccccc;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-editorHoverWidget-highlightForeground: #c5c5c5;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editor-foldBackground: rgba(103, 118, 150, 0.11);
    --vscode-editorGutter-foldingControlForeground: #c5c5c5;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editorSuggestWidget-background: #2d3440;
    --vscode-editorSuggestWidget-border: #303845;
    --vscode-editorSuggestWidget-foreground: #d8d9dc;
    --vscode-editorSuggestWidget-selectedForeground: #d7dae0;
    --vscode-editorSuggestWidget-selectedBackground: #383e4a;
    --vscode-editorSuggestWidget-highlightForeground: #c5c5c5;
    --vscode-editorSuggestWidget-focusHighlightForeground: #c5c5c5;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(216, 217, 220, 0.5);
    --vscode-editor-wordHighlightBackground: #484e5b;
    --vscode-editor-wordHighlightStrongBackground: rgba(171, 178, 191, 0.15);
    --vscode-editor-wordHighlightBorder: #7f848e;
    --vscode-editor-wordHighlightStrongBorder: #7f848e;
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-peekViewTitle-background: #30353b;
    --vscode-peekViewTitleLabel-foreground: #e8eaed;
    --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --vscode-peekView-border: #a2a8b0;
    --vscode-peekViewResult-background: #303842;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-selectionBackground: #4c5870;
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewEditor-background: #303845;
    --vscode-peekViewEditorGutter-background: #303845;
    --vscode-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --vscode-peekViewEditor-matchHighlightBackground: #455064;
    --vscode-editorMarkerNavigationError-background: #c24038;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(194, 64, 56, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #cca700;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigation-background: #232933;
    --vscode-tab-activeBackground: #3b4252;
    --vscode-tab-unfocusedActiveBackground: #3b4252;
    --vscode-tab-inactiveBackground: #2b303b;
    --vscode-tab-unfocusedInactiveBackground: #2b303b;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-inactiveForeground: #dddee0;
    --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-unfocusedInactiveForeground: rgba(221, 222, 224, 0.5);
    --vscode-tab-hoverBackground: #323842;
    --vscode-tab-unfocusedHoverBackground: #323842;
    --vscode-tab-border: #303845;
    --vscode-tab-lastPinnedBorder: #585858;
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-editorPane-background: #303845;
    --vscode-editorGroupHeader-tabsBackground: #232933;
    --vscode-editorGroupHeader-noTabsBackground: #303845;
    --vscode-editorGroup-border: #181a1f;
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBySideEditor-horizontalBorder: #181a1f;
    --vscode-sideBySideEditor-verticalBorder: #181a1f;
    --vscode-panel-background: #303845;
    --vscode-panel-border: rgba(128, 128, 128, 0.35);
    --vscode-panelTitle-activeForeground: #e7e7e7;
    --vscode-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-panelTitle-activeBorder: #e7e7e7;
    --vscode-panel-dropBorder: #e7e7e7;
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
    --vscode-banner-background: #292d35;
    --vscode-banner-foreground: #d7dae0;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-statusBar-foreground: #ffffff;
    --vscode-statusBar-noFolderForeground: #ffffff;
    --vscode-statusBar-background: #465163;
    --vscode-statusBar-noFolderBackground: #232933;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-hoverBackground: #232933;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #ffffff;
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-errorBackground: #c72e0f;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-warningBackground: #7a6400;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-activityBar-background: #303845;
    --vscode-activityBar-foreground: #d7dae0;
    --vscode-activityBar-inactiveForeground: rgba(215, 218, 224, 0.4);
    --vscode-activityBar-activeBorder: #d7dae0;
    --vscode-activityBar-dropBorder: #d7dae0;
    --vscode-activityBarBadge-background: #4d78cc;
    --vscode-activityBarBadge-foreground: #f8fafd;
    --vscode-statusBarItem-remoteBackground: #4d78cc;
    --vscode-statusBarItem-remoteForeground: #f8fafd;
    --vscode-extensionBadge-remoteBackground: #4d78cc;
    --vscode-extensionBadge-remoteForeground: #f8fafd;
    --vscode-sideBar-background: #2d3440;
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBarSectionHeader-background: #2d3440;
    --vscode-titleBar-activeForeground: #9da5b4;
    --vscode-titleBar-inactiveForeground: #9da5b4;
    --vscode-titleBar-activeBackground: #303845;
    --vscode-titleBar-inactiveBackground: #303845;
    --vscode-menubar-selectionForeground: #9da5b4;
    --vscode-menubar-selectionBackground: rgba(255, 255, 255, 0.1);
    --vscode-notifications-foreground: #cccccc;
    --vscode-notifications-background: #232933;
    --vscode-notificationLink-foreground: #3794ff;
    --vscode-notificationCenterHeader-background: #2e3543;
    --vscode-notifications-border: #2e3543;
    --vscode-notificationsErrorIcon-foreground: #c24038;
    --vscode-notificationsWarningIcon-foreground: #cca700;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-editorGutter-commentRangeForeground: #c5c5c5;
    --vscode-debugToolBar-background: #232933;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-settings-headerForeground: #e7e7e7;
    --vscode-settings-modifiedItemIndicator: #0c7d9d;
    --vscode-settings-dropdownBackground: #2c323c;
    --vscode-settings-dropdownForeground: #f0f0f0;
    --vscode-settings-dropdownBorder: #2c323c;
    --vscode-settings-dropdownListBorder: #454545;
    --vscode-settings-checkboxBackground: #2c323c;
    --vscode-settings-checkboxForeground: #f0f0f0;
    --vscode-settings-checkboxBorder: #2c323c;
    --vscode-settings-textInputBackground: #232933;
    --vscode-settings-textInputForeground: #cccccc;
    --vscode-settings-numberInputBackground: #232933;
    --vscode-settings-numberInputForeground: #cccccc;
    --vscode-settings-focusedRowBackground: rgba(128, 128, 128, 0.14);
    --vscode-settings-rowHoverBackground: rgba(128, 128, 128, 0.07);
    --vscode-settings-focusedRowBorder: rgba(255, 255, 255, 0.12);
    --vscode-terminal-foreground: #c8c8c8;
    --vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminal-border: rgba(128, 128, 128, 0.35);
    --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: #c24038;
    --vscode-testing-peekHeaderBackground: rgba(194, 64, 56, 0.1);
    --vscode-testing-message\.error\.decorationForeground: #c24038;
    --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message\.info\.decorationForeground: rgba(187, 187, 187, 0.5);
    --vscode-welcomePage-tileBackground: #232933;
    --vscode-welcomePage-tileHoverBackground: #2a313d;
    --vscode-welcomePage-tileShadow: rgba(0, 0, 0, 0.36);
    --vscode-welcomePage-progress\.background: #232933;
    --vscode-welcomePage-progress\.foreground: #3794ff;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-ports-iconRunningProcessForeground: #4d78cc;
    --vscode-statusBar-debuggingBackground: #515761;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-debuggingBorder: #515761;
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editorGutter-modifiedBackground: #0c7d9d;
    --vscode-editorGutter-addedBackground: #587c0c;
    --vscode-editorGutter-deletedBackground: #94151b;
    --vscode-minimapGutter-modifiedBackground: #0c7d9d;
    --vscode-minimapGutter-addedBackground: #587c0c;
    --vscode-minimapGutter-deletedBackground: #94151b;
    --vscode-editorOverviewRuler-modifiedForeground: rgba(12, 125, 157, 0.6);
    --vscode-editorOverviewRuler-addedForeground: rgba(88, 124, 12, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(148, 21, 27, 0.6);
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-keybindingTable-headerBackground: rgba(204, 204, 204, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-notebook-cellBorderColor: #292d35;
    --vscode-notebook-focusedEditorBorder: #232933;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notebookStatusErrorIcon-foreground: #f48771;
    --vscode-notebookStatusRunningIcon-foreground: #cccccc;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #292d35;
    --vscode-notebook-selectedCellBorder: #292d35;
    --vscode-notebook-focusedCellBorder: #232933;
    --vscode-notebook-inactiveFocusedCellBorder: #292d35;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: #232933;
    --vscode-notebookScrollbarSlider-background: #535a69;
    --vscode-notebookScrollbarSlider-hoverBackground: #535a69;
    --vscode-notebookScrollbarSlider-activeBackground: #535a69;
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebook-cellEditorBackground: #2d3440;
    --vscode-scm-providerBorder: #454545;
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugView-exceptionLabelForeground: #cccccc;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-stateLabelForeground: #cccccc;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #3794ff;
    --vscode-debugConsole-warningForeground: #cca700;
    --vscode-debugConsole-errorForeground: #f48771;
    --vscode-debugConsole-sourceForeground: #cccccc;
    --vscode-debugConsoleInputIcon-foreground: #cccccc;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-extensionButton-prominentBackground: #404754;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #4d5565;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #3794ff;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-terminal-ansiBlack: #2d3139;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiGreen: #92d69e;
    --vscode-terminal-ansiYellow: #ebb07a;
    --vscode-terminal-ansiBlue: #61afef;
    --vscode-terminal-ansiMagenta: #caa6ed;
    --vscode-terminal-ansiCyan: #11a8cd;
    --vscode-terminal-ansiWhite: #e5e5e5;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightRed: #f14c4c;
    --vscode-terminal-ansiBrightGreen: #23d18b;
    --vscode-terminal-ansiBrightYellow: #f5f543;
    --vscode-terminal-ansiBrightBlue: #3b8eea;
    --vscode-terminal-ansiBrightMagenta: #caa6ed;
    --vscode-terminal-ansiBrightCyan: #29b8db;
    --vscode-terminal-ansiBrightWhite: #e5e5e5;
    --vscode-interactive-activeCodeBorder: #a2a8b0;
    --vscode-interactive-inactiveCodeBorder: #030303;
    --vscode-gitDecoration-addedResourceForeground: #81b88b;
    --vscode-gitDecoration-modifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-deletedResourceForeground: #c74e39;
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-untrackedResourceForeground: #73c991;
    --vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
    --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
    --vscode-gitDecoration-conflictingResourceForeground: #e4676b;
    --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
}