*:not(.katex, .katex *) {
    border-color: var(--vscode-quickInputTitle-background) !important;
}

body[data-vscode-theme-kind="vscode-light"] .vditor-content hr {
    background-color: var(--vscode-panel-border) !important;
}

body[data-vscode-theme-kind="vscode-dark"] .vditor-content hr {
    background-color: var(--vscode-panel-border) !important;
}

.dropdown-menu.show:before,
.dropdown-item {
    background-color: var(--vscode-editorSuggestWidget-background) !important;
    color: var(--vscode-editor-frontground) !important;
}

.dropdown-item:hover {
    background: var(--vscode-menu-selectionBackground) !important;
}

.vditor-reset--error {
    color: var(--vscode-charts-red) !important;
}


.vditor-input {
    border: 1px solid var(--vscode-quickInputTitle-background);
}

.vditor-toolbar {
    background-color: var(--vscode-editor-background);
}

.vditor-toolbar__item .vditor-tooltipped {
    color: var(--vscode-editor-foreground)
}

.vditor-content code:not(.hljs) {
    background-color: var(--vscode-textBlockQuote-background) !important;
    color: var(--vscode-editor-foreground) !important;
}

body[data-vscode-theme-name='One Dark Modern'] .vditor-content code:not(.hljs) {
    color: #abb2bf !important;
}

/* 编辑模式 */
body[data-vscode-theme-kind="vscode-dark"] .vditor-content .vditor-wysiwyg__pre>code {
    background-color: #313131 !important;
}

/* 预览模式 */
body[data-vscode-theme-kind="vscode-dark"] .vditor-wysiwyg code,
body[data-vscode-theme-kind="vscode-dark"] .vditor-content .vditor-wysiwyg__preview>code {
    background-color: #313131 !important;
}

/* 数学公式 */
/* .language-math .katex{
    background-color: #313131 !important;
} */

body[data-vscode-theme-kind="vscode-dark"] .vditor-content .vditor-wysiwyg__preview>code.hljs {
    background-color: #2E2E2E !important;
}

body[data-vscode-theme-name='One Dark Modern'] .vditor-toolbar {
    background-color: var(--vscode-editorSuggestWidget-background) !important;
}

body[data-vscode-theme-name='One Dark Modern'] .vditor {
    background-color: var(--vscode-editorSuggestWidget-background) !important;
}

body[data-vscode-theme-name='One Dark Modern'] .vditor-content,
body[data-vscode-theme-name='One Dark Modern'] .vditor-content *:not(.hljs, .hljs *, .katex, .katex *, a, hr, .vditor-reset--error,code) {
    background-color: var(--vscode-editorSuggestWidget-background) !important;
    color: #abb2bf !important;
}

.vditor,
.vditor-content,
.vditor-content *:not(.hljs, .hljs *, .katex, .katex *, a, hr, .vditor-reset--error,code) {
    background-color: var(--vscode-editor-background) !important;
    color: var(--vscode-editor-foreground) !important;
}

.vditor-content .vditor-wysiwyg__preview>code {
    background-color: var(--vscode-editor-background) !important;
}

.vditor-hint button:not(.vditor-menu--disabled):hover {
    background-color: var(--vscode-editorSuggestWidget-background) !important;
}

.vditor-content .vditor-outline li>span>span:hover {
    color: var(--vscode-terminal-ansiBlue) !important;
}