html[data-cm-theme="solarized-light"],
#vditor[data-cm-theme="solarized-light"] {
    /* Surface */
    --cm-bg-color: #faf4dc;
    --cm-lang-trigger-bg: #eee8d5;
    --cm-fg-color: #657b83;

    /* Actions */
    --cm-copy-color: #268bd2;
    --cm-copy-done-color: #2aa198;
    --cm-delete-color: #dc322f;

    /* Editor State */
    --cm-active-line-bg: rgba(0, 0, 0, 0.05);
    --cm-cursor-fg: #657b83;

    /* Gutter */
    --cm-line-number-fg: #93a1a1;
    --cm-line-number-active-fg: #657b83;

    /* Selection */
    --cm-selection-bg-inactive: rgba(181, 137, 0, 0.2);
    --cm-selection-bg-focused: rgba(181, 137, 0, 0.35);
    --cm-selection-highlight-bg: rgba(181, 137, 0, 0.12);

    /* Bracket Match */
    --cm-bracket-match-bg: rgba(181, 137, 0, 0.2);
    --cm-bracket-match-border: #b58900;

    /* Syntax */
    --cm-syntax-comment: #93a1a1;
    --cm-syntax-keyword: #859900;
    --cm-syntax-string: #2aa198;
    --cm-syntax-number: #d33682;
    --cm-syntax-atom: #cb4b16;
    --cm-syntax-property: #268bd2;
    --cm-syntax-attribute: #b58900;
    --cm-syntax-variable: #657b83;
    --cm-syntax-def: #268bd2;
    --cm-syntax-bracket: #657b83;
    --cm-syntax-tag: #268bd2;
    --cm-syntax-link: #268bd2;
    --cm-syntax-error: #dc322f;
}
